__pycache__/
*.py[cod]
.venv/
*.db
jd_report_tool/data/chrome_user_data/
jd_report_tool/logs/*.log
jd_report_tool/logs/screenshots/*.png
jd_report_tool/data/output/*.xlsx
jd_report_tool/data/raw/**/*.xlsx
*.xlsx
*.xls
*.png
*.zip
data/database/*.db
data/output/*
data/raw/*
logs/*.log
jd_report_tool/data/database/*.db
jd_report_tool/data/output/*
jd_report_tool/data/raw/*
